@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
body {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    background: linear-gradient(160deg, #0aa457, #0b6e5f);
}
#headerNavigation {
    display: flex;
    justify-content: space-between;
}
#navigation {
display: flex;
gap: 10px;
}
#headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column; 
}
#super {
    color: rgb(78, 74, 74);
    padding-top: 100px;
    padding-bottom: 0%;
    font-size: 50px
}
.sub {
    color: rgb(187, 185, 185);
    font-weight: lighter;
}
#sub {
    color: rgb(187, 185, 185);
    font-weight: lighter;
    padding-bottom: 50px;
}

/*MARK: panggil section */
#panggil {
    display: flex;
    flex-direction: row;
    gap: 0px;
}
#article {
    display: block;
    flex-basis: 50%;
    flex-grow: 0;
    background: rgba(11, 93, 21, 0.6);
    height: 800px;
    border-radius: 5px;

}
#benefit {
    display: flex; 
    flex-direction: column;
    padding-top: 60px;
    margin-left: 60px;
}
#logolist {
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 400px;
}
#dalambenefit {
    flex-basis: 95%;
    flex-grow: 0;
    display: flex; 
    flex-direction: column;
}
.listgambar {
    display: flex;
    flex-direction: column;
    flex-basis: 5%;
    flex-grow: 0;
    gap: 20px;
}
ul.none {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 38px;
    padding-top: 9px;
    padding-bottom: 21px;
    padding-left: 5px;
    font-size: larger;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(187, 185, 185);
}
.jeda {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.demo-bg {
    opacity: 0.6;
    position: absolute;
    width: 1900px;
    border-radius: 80px;
} 
#jeda {
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: relative;
    align-self: center;
}
  .container {
    max-width: 500px;
    width: 80%;
    height: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .container .title {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    position: relative;
  }
  .container .title::before {
    content:'';
    position:absolute;
    left: 0;
    right: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(#0aa457, #0b6e5f);
  }
  .container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 10px 0;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    color: #0aa457;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  input[type="date"] {
    background-color: transparent;
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-family:sans-serif;
    outline: none;
    border-radius: 5px;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #0b6e5f;
  }
  ::placeholder {
    font-family:sans-serif
  }
  ::-webkit-calendar-picker-indicator {
    background-color: linear-gradient(#0aa457, #0b6e5f);
    border-radius: 5px;
  }
  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }
  form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }
  .gender-details .category label {
  display: flex;
  align-items: center;
  }
  .gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #d9d9d9;
    transition: all 0.3 ease;
  }
  #dot-1:checked ~ .category label .one {
    border-color: #d9d9d9;
    background: linear-gradient(#0aa457, #0b6e5f);
  }
  #dot-2:checked ~ .category label .two {
    border-color: #d9d9d9;
    background: linear-gradient(#0aa457, #0b6e5f);
  }
  #dot-3:checked ~ .category label .three {
    border-color: #d9d9d9;
    background: linear-gradient(#0aa457, #0b6e5f);
  }
  form input [type="radio"] {
    display:none; 
  }
  form .button {
    height: 45px;
    margin: 45px 0;
  }
  form .button input { 
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    background: linear-gradient(280deg, #0aa457, #0b6e5f);
    transition: all 0.2s ease;
  }
  form .button input:hover {
    background: #d9d9d9;
  }