body {
    background-color: olivedrab;
    margin: 30px;
}
#headerNavigation {
    display: flex;
    justify-content: space-between;
}
#navigation {
display: flex;
gap: 10px;
}
#headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column; 
}
#super {
    color: rgb(78, 74, 74);
    padding-top: 100px;
    padding-bottom: 0%;
    font-size: 35px
}
.sub {
    color: rgb(187, 185, 185);
    font-weight: lighter;
}
#sub {
    color: rgb(187, 185, 185);
    font-weight: lighter;
    padding-bottom: 50px;
}

/*MARK: panggil section */
#panggil {
    display: flex;
    flex-direction: row;
    gap: 0px;
}
#article {
    flex-basis: 60%;
    flex-grow: 0;
    margin-left: 60px;
}
#form {
    flex-basis: 40%;
    flex-grow: 0;
    background-color: rgba(192, 231, 180, 0.3);
    border-radius: 5px;
    margin-right: 60px;
}
.subform {
    margin: 8px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#subformtitle {
    margin-left: 50px;
}
#benefit {
    display: flex; 
    flex-direction: column;
    padding-top: 60px;
    margin-left: 60px;
    
}
#logolist {
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 400px;
}
#dalambenefit {
    flex-basis: 95%;
    flex-grow: 0;
    display: flex; 
    flex-direction: column;
}
.listgambar {
    display: flex;
    flex-direction: column;
    flex-basis: 5%;
    flex-grow: 0;
    gap: 20px;
}
ul.none {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 38px;
    padding-top: 9px;
    padding-bottom: 21px;
    padding-left: 5px;
    font-size: larger;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(187, 185, 185);
}
