@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
hr {
  margin-bottom: 40px;
  border: 2px dotted rgba(135, 229, 21, 0.3);
  margin-left: 100px;
  margin-right: 100px;
}
body {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    background: linear-gradient(160deg, #0aa457, #0b6e5f);
}
#headerNavigation {
    display: flex;
    justify-content: space-between;
    background:rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(28, 23, 23, 0.2);
    border-radius: 35px;
}
#navigation {
display: flex;
gap: 15px;
}
.logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
  border-radius: 50%;
  border: solid #333;
}
.tiapnav1, .tiapnav2, .tiapnav3 {
  padding: 20px;
  background: linear-gradient(60deg, #0aa457, #0b6e5f);
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(28, 23, 23, 0.2);
  transition: all 0.3 ease;
}
a {
  color:#ffffff;
  font-size: x-large;
  font-weight: 100;
}
a:link {
  color:#333;
  font-size: x-large;
  font-weight: 100;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color:#333;
  font-size: xx-large;
  font-weight: 500;
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
#headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column; 
}
#super {
    color: rgb(78, 74, 74);
    padding-top: 100px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 50px
}
.sub {
    color: rgb(187, 185, 185);
    font-weight: lighter;
    align-self: center;
}
#sub {
    color: rgb(187, 185, 185);
    font-weight: lighter;
    padding-bottom: 50px;
}

/*MARK: panggil section */
#panggil {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}
#article {
    display: flex;
    flex-direction: column;
    background: rgba(11, 93, 21, 0.6);
    height: 800px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 50%;
    align-content: space-between;
    transition: all 0.3 ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.quote {
    display: flex;
    flex-direction: row;
    border: 2px solid#fff;
    max-width: 612px;
    max-height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0 0;
    position: relative;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-bottom-width: 5px;
}
.menjajakan {
  margin: 50px 10px 50px 50px;
  border-radius: 50%;
  width: 200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
}
.menjajakan:hover {
  transform: scale(2);
  border: 2px solid #ffffff;
  transition: all 0.3 ease;
}
.menurutdia {
    color: rgb(187, 185, 185);
    font-weight: bolder;
    font-size: x-large;
    align-self: center;
    margin-right: 150px;
}
#benefit {
    display: flex; 
    flex-direction: column;
    padding-top: 60px;
    margin-left: 60px;
    max-width: auto;
}
#logolist {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: auto;
}
#dalambenefit {
    flex-basis: 97%;
    flex-grow: 0;
    display: flex; 
    flex-direction: column;
}
.listgambar {
    display: flex;
    flex-direction: column;
    flex-basis: 3%;
    flex-grow: 0;
    gap: 20px;
}
ul.none {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 25px;
    padding-top: 8px;
    padding-bottom: 37px;
    padding-left: 5px;
    font-size: larger;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(187, 185, 185);
    font-size: larger;
}
.benefit {
    font-size: larger;
    font-weight: 500;
}
.jeda {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.demo-bg {
    opacity: 0.6;
    position: absolute;
    width: 100%;
    border-radius: 80px;
} 
#jeda {
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: relative;
    align-self: center;
}
  .container {
    max-width: 500px;
    width: 80%;
    height: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .container .title {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    position: relative;
  }
  .container .title::before {
    content:'';
    position:absolute;
    left: 0;
    right: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(#0aa457, #0b6e5f);
  }
  .container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 10px 0;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    color: #0aa457;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  input[type="date"] {
    background-color: transparent;
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-family:sans-serif;
    outline: none;
    border-radius: 5px;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #0b6e5f;
  }
  ::placeholder {
    font-family:sans-serif
  }
  ::-webkit-calendar-picker-indicator {
    background-color: linear-gradient(#0aa457, #0b6e5f);
    border-radius: 5px;
  }
  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }
  form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }
  .gender-details .category label {
  display: flex;
  align-items: center;
  }
  .gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #d9d9d9;
    transition: all 0.3 ease;
  }
  #dot-1:checked ~ .category label .one {
    border-color: #d9d9d9;
    background: linear-gradient(#0aa457, #0b6e5f);
  }
  #dot-2:checked ~ .category label .two {
    border-color: #d9d9d9;
    background: linear-gradient(#0aa457, #0b6e5f);
  }
  #dot-3:checked ~ .category label .three {
    border-color: #d9d9d9;
    background: linear-gradient(#0aa457, #0b6e5f);
  }
  form input [type="radio"] {
    display:none; 
  }
  form .button {
    height: 45px;
    margin: 45px 0;
  }
  form .button input { 
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    background: linear-gradient(280deg, #0aa457, #0b6e5f);
    transition: all 0.2s ease;
  }
  form .button input:hover {
    background: #d9d9d9;
  }
  #paketan {
    display: flex;
    flex-direction: row;
    width: max-content;
  }
  .paketatas {
    display: flex;
    flex-direction: column;
    width: max-content;
  }
  .paketbawah {
    display: flex;
    flex-direction: column;
    width: max-content;
  }